<!DOCTYPE html>
<html>
<head>
  <title>Arlab</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>

<h1>"Student List"</h1>

<ul>
<% @students.each do |student| %>
  <li> <%= student.to_s %> </li>
  <% end %>
</ul>

<body>

<%= yield %>

</body>
</html>
